.header{
    display: flex;
    align-items: center;
    background-color:#FFAEC9;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
    max-height: 70px;
}
.header .title-group{
    padding-left: 40px;
}

