.sidenav{
    background-color: #D83667;
    width: 12%;
}
.sidenav a{
    color: #ffffff;
}
.sidenav i{
    padding-right: 10px;
}
.container .content{
    padding: 16px;
    background-color: #fff;
}
.sidenav .icons{
    padding-top: 5px;
}